$bg-grey: #eee;
$imagecaption: #000;

html, body{
    background-color: $bg-grey;
}

.main{
    margin-top: 5rem;
    background-color: white;    
    &>.col-xs-12:first-child{
        background-color: white;
        margin: 0 auto;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        padding: 2rem 0;
        .headerimagewrapper{
            width: 100%;
            // margin: 2rem auto;
            img{
                max-height: 35rem; 
                margin: auto auto 0 auto;
            }
            
        }
        .headertextwrapper{
            border-radius: 5px 5px 0 0;
            background: transparentize($imagecaption, .3);
            color:  $bg-grey;
            font-size: 2.25rem;
            margin: -2.6em auto 0 auto;
            display: block;
            padding: .5em;
        }
    }
    .content{
        background-color: white;
        header{
            font-size: 1.6rem;
        }
    }
}


